// import base - contains global styles, such as resets, typography, colors
// import vendors
@import "vendor/toolkit";
@import "vendor/phylotree";
// import components- contains each self-contained component in its own .scss partial
@import "components/filterPanel";
@import "components/navigationPanel";
@import "components/genomeMap";
@import "components/chromosomeMap";
// import pages contains page-specific styling
@import "pages/dashboard";

body,
html {
    background: #252830;
}

.treemap-container {
    padding-top: 13px;
    margin-right: 10px;
    vertical-align: top;

    .tree-selection-brush {
        pointer-events: none !important;
        cursor: none !important;
        display: none !important;
    }

    &.vertical-shift {
        margin-top: 75px;
        padding-top: 15px;
    }
    text {
        fill: #1ca8dd;
        font-weight: bolder;
        font-size: 10px !important;
    }
}

.traitmap-container {
    margin-right: 10px;
    vertical-align: top;

    &.vertical-shift {
        margin-top: 75px;
    }
    text.trait-label {
        font-weight: bold;
        fill: white;
        font-size: 10px !important;
    }
    text {
        font-weight: bolder;
        font-size: 10px !important;
    }
}

.graph-tooltip {
    position: absolute;
    width: 400px;
    background: #253b46;
    min-height: 100px;
    padding: 10px;
    font-size: 15px;
    border-radius: 12px;
    z-index: 100;
    span {
        white-space: pre-wrap;
    }
    color: white;
}

.custom-legend {
    text.label {
        font-size: 15px;
        font-weight: bolder;
    }
    text.legendTitle {
        transform: translate(125px, 10px);
        font-size: 17px;
        font-weight: bolder;
    }
}

.react-select-root {
    & > div:first-child {
        z-index: 100;
    }
}