.dashboard-root {
    padding-top: 5px;
    padding-bottom: 30px;
    &.batman {
        background: #252830;
    }
    .chart-title {
        width: 95%;
        margin: 2px auto;
        text-align: center;
        font-size: 24px;
        font-weight: bolder;
    }
    .hapmap-icon {
        margin-right: 10px;
        font-size: 22px;
        font-weight: bold;
    }
    .loading-spinner {
        margin: 100px auto;
    }
    .dashboard-container {
        min-height: 1000px;
    }
    .hapmap-canvas {
        margin: 25px 0px;
    }
    .theme-button {
        margin: 0px 0px;
        position: absolute;
        right: 10px;
    }
}