.dashboard-root {
    padding-top: 5px;
    padding-bottom: 30px;
    .hr-divider {
        font-size: 17px;
        margin: 20px auto;
        .hr-divider-content {
            font-weight: bold;
            text-align: center;
            margin: 30px auto;
        }
    }
    .hapmap-icon {
        margin-right: 10px;
        font-size: 22px;
        font-weight: bold;
    }
    .loading-spinner {
        margin: 100px auto;
    }
    .dashboard-container {
        min-height: 1000px;
    }
    .hapmap-canvas {
        margin: 25px 0px;
    }
    .chromsomemap-container {
        margin: 10px 0px;
        text-align: center;
        .chromsomemap-canvas-wrapper {
            margin: 0px auto;
        }
        .resize-drag {
            width: 120px;
            border-radius: 8px;
            padding: 20px;
            margin: 1rem;
            background-color: #29e;
            color: white;
            font-size: 20px;
            font-family: sans-serif;
            touch-action: none;
            /* This makes things *much* easier */
            box-sizing: border-box;
        }
    }
    .genomemap-container {
        margin: 25px 0px;
        text-align: center;
        .genomemap-label-wrapper {
            display: inline-block;
            margin-right: 5px;
            padding-top: 5px;
            vertical-align: top;
        }
        .genomemap-canvas-wrapper {
            display: inline-block;
            margin-right: 5px;
            padding-top: 5px;
            border-radius: 2px;
            border: none;
            cursor: pointer;
            vertical-align: top;
            &:nth-last-child(1) {
                margin-right: 0px;
            }
            h3 {
                margin: 5px 0px;
                font-size: 1.2em;
                font-weight: bold;
                color: #8d8d8d;
            }
            &.selected {
                border-bottom: 5px solid #126e90 !important;
                h3 {
                    color: #126e90 !important;
                }
            }
            &:hover {
                border-bottom: 5px solid #8d8d8d;
            }
        }
    }
}