.dashboard-root {
    padding-top: 5px;
    padding-bottom: 30px;
    .hr-divider {
        font-size: 17px;
        margin: 20px auto;
        .hr-divider-content {
            font-weight: bold;
            text-align: center;
            margin: 30px auto;
        }
    }
    .hapmap-icon {
        margin-right: 10px;
        font-size: 22px;
        font-weight: bold;
    }
    .loading-spinner {
        margin: 100px auto;
    }
    .dashboard-container {
        min-height: 1000px;
    }
    .hapmap-canvas {
        margin: 25px 0px;
    }
    .genomemap-container {
        margin: 25px 0px;
        text-align: center;
        .genomemap-canvas-wrapper {
            display: inline-block;
            margin-right: 5px;
            &:nth-last-child(1) {
                margin-right: 0px;
            }
        }
    }
}