.subchart-container {
    margin: 15px 0px 0px 0px;
    text-align: center;
    .subchart-outer-wrapper {
        margin: 0px auto;
        .subchart-inner-wrapper {
            position: relative;
            display: inline-block;
            .subchart-canvas {
                display: inline-block;
            }
            .genome-window-wrapper {
                position: absolute;
                top: 3px;
                #genome-window {
                    width: 50px;
                    background-color: #4c585d36;
                    touch-action: none;
                    /* This makes things *much* easier */
                    box-sizing: border-box;
                    border-bottom: 5px solid #1d6e90;
                    &:hover {
                        background-color: #4c585d61 !important;
                    }
                }
            }
            .gene-track {
                path.gene-arrow {
                    stroke: #4e79a7b0;
                    fill: none;
                    stroke-width: 2.5px;
                    stroke-linecap: round;
                    cursor: pointer;
                    stroke-linejoin: round;
                }
                text.gene-id {
                    font-size: 11.5px;
                    fill: #4e79a7;
                }
                rect {
                    cursor: pointer;
                    fill: transparent;
                }
            }
        }
        .subchart-canvas-label {
            display: inline-block;
            vertical-align: top;
        }
    }
}