.subchart-container {
    margin: 15px 0px 0px 0px;
    text-align: center;
    .subchart-outer-wrapper {
        display: inline-block;
        .subchart-inner-wrapper {
            position: relative;
            display: inline-block;
            .subchart-canvas {
                z-index: 10;
                display: inline-block;
            }
            .genome-window-wrapper {
                z-index: 30;
                position: absolute;
                top: 3px;
                #genome-window {
                    width: 50px;
                    background-color: #4c585d36;
                    touch-action: none;
                    /* This makes things *much* easier */
                    box-sizing: border-box;
                    border-bottom: 5px solid #1d6e90;
                    &:hover {
                        background-color: #4c585d61 !important;
                    }
                }
            }
            .cnv-track {
                z-index: 20;
                position: absolute;
                left: 0px;
                .cnv-circle {
                    stroke-width: 3.5px;
                    &.duplicate {
                        stroke: white;
                        fill: black;
                    }
                    &.deletion {
                        stroke: red;
                        fill: black;
                    }
                }
            }
            .gene-track {
                path.gene-arrow {
                    stroke: #4e79a7b0;
                    fill: none;
                    stroke-width: 2.5px;
                    stroke-linecap: round;
                    cursor: pointer;
                    stroke-linejoin: round;
                    &.marked {
                        stroke: #68c382;
                    }
                }
                text.gene-text {
                    font-size: 12px;
                    font-weight: bolder;
                    fill: transparent;
                }
                rect {
                    cursor: pointer;
                    fill: transparent;
                }
            }
        }
        .subchart-canvas-label {
            display: inline-block;
            vertical-align: top;
            &.vertical-shift {
                margin-top: 75px;
            }
        }
    }
}
