.filter-panel {
    padding: 25px 0px 0px 0px;
    .line-select {
        display: inline-block;
        margin-left: 15px;
    }
    .inner-span {
        display: inline-block;
        margin-right: 5px;
    }
    .select-box {
        display: inline-block;
        width: 500px;
        margin-right: 10px;
        &.source {
            width: 150px;
        }
    }
}