.filter-panel {
    padding: 25px 0px 0px 0px;
    .compare-select {
        display: inline-block;
        margin-left: 15px;
    }
    .inner-span {
        display: inline-block;
        margin-right: 5px;
        color:grey;
        font-weight: bolder;
    }
    .select-box {
        display: inline-block;
        width: 500px;
        margin-right: 10px;
        &.source {
            width: 250px;
        }
        &.color-scheme {
            width: 220px;
        }
    }
}