.genomemap-container {
    margin: 25px 0px 10px 0px;
    text-align: center;
    .genomemap-canvas {
        margin-top: -2px;
    }
    .genomemap-canvas-label {
        display: inline-block;
        margin-top: -2px;
        vertical-align: top;
        // to account for the gap introduced by the last chromosome block
        margin-left: -5px;
    }
    .genomemap-canvas-wrapper {
        display: inline-block;
        margin-right: 5px;
        border: none;
        cursor: pointer;
        vertical-align: top;
        h3 {
            margin: 2px;
            font-size: 1.1em;
            font-weight: bolder;
            color: #8d8d8d;
        }
        &.selected {
            border-bottom: 4px solid #126e90 !important;
            background: #d9dcdd;
            h3 {
                color: #126e90 !important;
            }
        }
        &:hover {
            border-bottom: 4px solid #8d8d8d;
        }
    }
}