.range-wrapper {
    text-align: center;
    padding: 20px 0px 25px 0px;
    .range-select {
        display: inline-block;
        width: 250px;
    }
    .range-buttonbox {
        display: inline-block;
        margin: 0px 50px;
        vertical-align: baseline;
        .btn {
            font-size: 23px;
            padding: 0px 5px;
            line-height: 23px;
            margin: 0px 3px;
        }
    }
    .range-slider {
        display: inline-block;
        vertical-align: text-bottom;
        .inner-slider {
            width: 100px;
        }
    }
}